/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  --first-color: hsl(354, 78%, 60%);
  --button-color: hsl(0, 0%, 17%);
  --button-color-alt: hsl(0, 0%, 21%);
  --card-color: hsl(0, 0%, 90%);
  --title-color: hsl(0, 0%, 15%);
  --text-color: hsl(0, 0%, 35%);
  --text-color-light: hsl(0, 0%, 55%);
  --body-color: hsl(206, 4%, 97%);
  --container-color: #fff;
  --border-color: hsl(0, 0%, 94%);

  /*========== Font and typography ==========*/
  --body-font: "Roboto", sans-serif;
  --biggest-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-bold: 700;

  /*========== Margenes Bottom ==========*/
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*=============== THEME ===============*/
/*========== Variables Dark theme ==========*/
body.dark-theme {
  --first-color: hsl(182, 53%, 74%);
  --button-color: hsl(246, 16%, 12%);
  --button-color-alt: hsl(0, 0%, 28%);
  --card-color: hsla(246, 16%, 5%, 0.5);
  --title-color: hsl(0, 0%, 95%);
  --text-color: hsl(0, 0%, 75%);
  --body-color: hsl(249, 19%, 14%);
  --container-color: hsl(246, 16%, 12%);
  --border-color: hsl(0, 0%, 20%);
}

/*========== Button Dark/Light ==========*/
.change-theme {
  color: var(--title-color);
  font-size: 1.25rem;
  cursor: pointer;
}
/*=============== BASE ===============*/
/*====== Reseteo de valores ======*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
/*====== Disposicion del body ======*/
body {
  /*display: flex;
  flex-wrap: wrap;*/
  gap: 10px;
  margin: 0;
  background-color: var(--body-color);
  background-color: rgba(0, 0, 255, 0.37); /* borrar*/
  color: var(--text-color);
  /*For animation dark mode*/
  transition: 0.4s;
}
/*====== Elimina viñetas de la lista ======*/
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
/*====== Cambia color y tamaño de la tipografia titulos ======*/
h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-medium);
}
/*====== Cambia la tipografia ======*/
body,
button,
input {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}



/*=============== REUSABLE CSS CLASSES ===============*/
/*====== Caracteristicas de los contenedores ======*/
.container {
  max-width: 1024px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}
/*====== Caraceristicas de grilla para ser utilizada ======*/
.grid {
  display: grid;
}




/*=============== LOADER ===============*/
/*======= Fija posicion y tamaño del loading ======*/
.load {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--body-color);
  background-color: black;
  z-index: 1000;
  display: grid;
  place-content: center;
  align-items: center;
}
/*====== Fija tamaño icono loadin y tiempo del efecto ======*/
.logotipo1 {
  fill: var(--first-color);
  width: 50%;
  animation: scroll 1.5s infinite;
  display: flex;
  margin: auto;
}
/*====== Animacion icono loading ======*/
@keyframes scroll {
  50% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0);
  }
}

/*=============== HEADER & NAV ===============*/
/*====== Caracteristicas del header ======*/
.header {
  width: 100%;
  background: transparent;
  background-color: rgba(0, 255, 21, 0.596); /*Borrar*/
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  /*For animation dark mode*/
  transition: 0.4s;
}
/*====== Organiza los contenedores que estan dentro de la barra de navegacion nav ======*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*====== Organiza elementos dentro del contenedor nav-logo ======*/
.nav__logo {
  text-transform: uppercase;
  font-weight: var(--font-bold);
  letter-spacing: 1px;
  display: inline-flex;
  align-items: center;
  column-gap: 0.25rem;
}
/*====== Tamaño icono dentro del contenedor logo-image ======*/
.logotipo {
  width: 50px;
  height: 50px;
}
/*====== Organiza botones dentro del contenedor nav-btns ======*/
.nav__btns {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
/*====== Organiza elementos del contenedor nav-list ======*/
.nav__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  text-transform: uppercase;
}
/*====== Cambio color tipografia en nav ======*/
.nav__logo,
.nav__close,
.nav__shop,
.nav__toggle {
  color: var(--title-color);
}
/*====== Cambiar tamaño tipografia y cambiar el comportamiento del raton ======*/
.nav__toggle,
.nav__shop {
  font-size: 1.25rem;
  cursor: pointer;
}
/*====== Cambio, ajuste apariencia del contador de productos nav__shop y count ======*/
.nav__shop .count {
  position: absolute;
  bottom: 0px;
  right: -7px;
  width: 16px;
  height: 16px;
  padding: 0.25rem;
  background-color: var(--title-color);
  border-radius: 50%;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--body-color);
}
/*====== Ajusta iconos del nav__shop ======*/
.nav__shop {
  position: relative;
}
/*====== Color, tamaño animacion de los link del Nav ======*/
.nav__link {
  color: var(--title-color);
  font-weight: var(--font-medium);
  text-transform: uppercase;
  font-size: var(--h2-font-size);
  transition: 0.3s;
}
/*====== Efecto de cambio de color al pasar el mouse sobre los link el Nav ======*/
.nav__link:hover {
  color: var(--first-color);
}
/*====== Carcateristicas del boton para cerrar el Nav ======*/
.nav__close {
  font-size: 2rem;
  position: absolute;
  top: 0.9rem;
  right: 1.25rem;
  cursor: pointer;
  display:none;
}
.bx.bx-grid-alt {
  display: none;
}
/* Active link del Nav*/
active-link {
  color: var(--first-color);
}
/*====== Cambia la configuracion del boton que despliega el submenu START Y PRODUCTS en la rresolucion 767 hacia abajo ======*/
@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    background-color: #ffffffda;
    top: 0;
    right: -100%;
    width: 50%;
    height: 100%;
    padding: 6rem 2rem 3.5rem;
    transition: .50s;
  }
  /*====== Hace que se pueda visualizar la x en esa resolucion ======*/
  .nav__close {
    display: initial;
  }
  /*====== hace que se visualice el boton que sirve para desplegar el submenu en esa resolucion ======*/
  .bx.bx-grid-alt {
    display: initial;
  }
  /*====== Organiza en columna los links en esa resolucion ======*/
  .nav__list {
    display:flexbox;
    flex-direction: column;
  }
}
/* Show menu Habilita que salga el menu del los link en el Nav*/
.show-menu {
  right: 0;
}

/*=============== HOME ===============*/
/*====== Organiza seccion Home ======*/
.home__container {
  display: flex;
  background-color: aquamarine;
}
/*====== Caracteristicas contenedor imagen Home ======*/
.home__img-bg {
  background-color: var(--first-color);
  width: 258px;
  height: 230px;
  border-radius: 0 0 12px 12px;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  justify-self: flex-end;
  transform: translateX(1.5rem);
}
/*====== Tamaño y animacion imagen Home ======*/
.home__img {
  width: 200px;
  transition: transform 0.3s ease;
}
/*====== Movimiento en y imagen del home ======*/
.home__img:hover {
  transform: translateY(-5px);
}
/*====== Caracteristicas del contenedor datos del home ======*/
.home__data {
  background-color: beige;
  width:min (100%, 200px);
  margin-top: 80px;
}
/*====== Caracteristicas tipografia titulo Home ======*/
.home__title {
  font-size: var(--biggest-font-size);
  font-weight: var(--font-bold);
  margin-bottom: var(--mb-1);
  text-align: center;
}
.home__description {
  margin-bottom: var(--mb-1-5);
}
/*====== Caracteristicas tipografia precio Home ======*/
.home__price {
  display: inline-block;
  font-size: var(--h2-font-size);
  font-weight: var(--font-medium);
  color: var(--first-color);
  margin-bottom: var(--mb-1-5);
}
/*====== Caracteristicas del contendedor donde estan los botones del home ======*/
.home__btns {
  display: flex;
  justify-content: center;
  gap: 50px;
}

/*=============== PRODUCTS ===============*/
/*====== Paddind=g de las seccion de productos ======*/
.products {
  padding: 7rem 0;
}
/*====== Hacer visibe la mano del mouse en los filtros de los productos ======*/
.products__item {
  cursor: pointer;
}
/*====== Tamaño y duracioon del efecto en la imagen de las tarjetas de los productos ======*/
.products__img {
  width: 150px;
  transition: 0.4s;
}
/*====== Caracteristicas de los contenedores de cada producto ======*/
.products__content {
  grid-template-columns: 200px;
  gap: 2rem;
  justify-content: center;
}
/*====== Fondo y borde de la tajeta de los productos =======*/
.products__card {
  background-color: var(--container-color);
  border-radius: 0.5rem;
}
/*====== Tamaño y ubicacion del nombre del producto ======*/
.products__name {
  font-size: var(--normal-font-size);
  margin-bottom: var(--mb-0-5);
}
/*====== Tamaño, ubicacion y color del precio del producto ======*/
.products__price {
  font-size: var(--h3-font-size);
  display: flex;
  align-items: center;
  gap: 0.25rem;
  color: var(--first-color);
}
/*====== Tamaño y color de la cantidad del producto ======*/
.products__quantity {
  font-size: var(--small-font-size);
  color: var(--text-color);
}
/*====== Efecto de movimiento en eje y al pasar el mouse sobre la foto de los productos ======*/
.products__card:hover .products__img {
  transform: translateY(-0.25rem);
}
/*====== Ubicacion de los filtros ======*/
.products__filters {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin-bottom: 3.5rem;
}
/*====== Saca de su ubiccion original al contenedor line ======*/
.products__line {
  position: relative;
}
/*====== Desplaza el contenedor al final de su ubicacion, y cambia su forma ======*/
.products__line::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 40px;
  background-color: var(--text-color-light);
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
}
/*====== Tamaño del stock en el filtro ======*/
.products__stock {
  font-size: var(--small-font-size);
}
/*====== Tamaño y color del titulo en los filtros ======*/
.products__title {
  font-size: var(--h3-font-size);
  color: var(--text-color);
  margin-bottom: 0.5rem;
}
/*====== Ajueste del contenedor de la imagen de los productos ======*/
.products__shape {
  background-color: var(--card-color);
  border-radius: 0.5rem 0.5rem 0 0;
  text-align: center;
  padding: 0.25rem 0;
}
/*======  ======*/
.products__data {
  padding: 1rem 0 1.25rem 1rem;
  position: relative;
}

/*=============== CART ===============*/
/*====== Caracteristicas del Cart, saca del flujo normal a la tarjeta ======*/
.cart {
  position: fixed;
  background-color: var(--container-color);
  z-index: var(--z-fixed);
  width: 30%;
  height: auto;
  top: 0;
  right: -100%;
  padding: 3rem 1rem;
  transition: 0.4s;
  background-color: crimson;
}
/*====== Muestra el contenedor del carrito ======*/
/* Show cart */
.show-cart {
  right: 0;
}
/*====== Caracteristicas del boton de ocultar al carrito que esta en el Nav ======*/
.cart__close {
  font-size: 2rem;
  color: var(--title-color);
  position: absolute;
  top: 1.25rem;
  right: .9rem;
  cursor: pointer;
  background-color: black;
}
/*====== Caracteristicas del contenedor para cada producto del carrito ======*/
.cart__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 1rem;
  max-height: 80%;
  height: auto;
  overflow: auto;
  background-color: brown;
}
/*====== Caracteristicas tarjeta Card ======*/
.cart__card {
  display: flex; /* probar si al eliminar sigue funcionando*/
  align-items: center;
  grid-template-columns: 1fr;
  column-gap: 1rem;
  padding: 0.5rem 1rem;
  background-color: blue;
}
/*====== Caracteristicas del contenedor de la imagen del producto en el carrito ======*/
.cart__box {
  background-color: var(--container-color);
  width: 50%;
  height: auto;
  padding: 0.25rem .25rem;
  margin: 0 auto 1rem;
  border: 1px solid var(--border-color);
  background-color: aqua;
  text-align: center;
}
/*====== Caracteristicas del contenedor del detalle del producto en el carrito ======*/
.cart__details {
  background-color: beige;
  height: 100px;
}





/*====== Caracteristicas imagen cart ======*/
.cart__img {
  width: 70%;
  height: auto;
  object-fit: cover;
  align-content: center;
}

/*====== Caracteristicas del titulo del carrito ======*/
.cart__title-center {
  font-size: var(--h2-font-size);
  text-align: center;
  margin-bottom: var(--mb-1);
  background-color: rgb(255, 0, 212);
}
/*====== Caracteristicas del titulo del producto en el carrito ======*/
.cart__title {
  font-size: var(--normal-font-size);
  margin-bottom: .5rem;
  display: flex;
  justify-content: space-between;
  background-color: darkgoldenrod;
}
/*====== Caracteristicas del Stock del carrito ======*/
.cart__stock {
  display: block;
  font-size: var(--small-font-size);
  color: var(--text-color);
  margin-bottom: var(--mb-0-5);
  background-color: green;
}
/*====== Caracteristicas del contenedor del prices del carrito ======*/
.cart__prices {
  font-size: var(--small-font-size);
  color: var(--first-color);
  margin-bottom: var(--mb-0-5);
}
/*====== Caracteristicas del contenedor de los botones del carrito ======*/
.cart__checkout {
  display: flex;
  justify-content: flex-end;
  padding-top: 2rem;
  gap: 1rem;
}
/*====== Caracteristicas del contenedor del subtotal del carrito ======*/
.cart__subtotal {
  display: flex;
  justify-content: space-between;
  font-size: var(--small-font-size);
  margin: var(--mb-0-75) 0;
}
/*====== Caracteriticas del subtotal del precio del producto en el carrito ======*/
.cart__subtotal-price {
  font-size: var(--normal-font-size);
  color: var(--first-color);
  font-weight: var(--font-medium);
  background-color: darkorange;
}
/*====== Caracteristicas de los contenedores donde se encuentra la cantidad de producto en el carrito ======*/
.cart__amount,
.cart__amount-content {
  display: grid;
  grid-template-columns: 2fr 1fr .5fr;
  column-gap: 1rem;
  align-items: baseline;
}
/*====== Ubicacion de los elementos que tiene el contenedor principal donde esta la cantidad de producto en el carrito ======*/
.cart__amount {
  display: flex;
  justify-content: space-between;
}
/*====== Ubicacion del segundo contenedor de la cantidad de producto en el carrito ======*/
.cart__amount-content {
  grid-template-columns: 1fr 2fr 1fr;
}
/*====== Centrado del numero de la cantidad del producto con los otros elementos en el contenedor =====*/
.cart__amount-number {
  display: flex;
  justify-content: center;
}
/*====== Caracteristicas de los botones que estan a los lados del numero de la cantidad de producto en el carrito ======*/
.cart__amount-box {
  display: inline-flex;
  padding: .25rem;
  background-color: var(--container-color);
  border: 1px solid var(--border-color);
  cursor: pointer;
}
/*====== caracteristicas del boton de eliminar producto en el carrito ======*/
.cart__amount-trash {
  font-size: 1.15rem;
  color: var(--first-color);
  cursor: pointer;
}
/*====== Caracteristicas el contenedor donde esta cantidad y total de los producto que contiene el carrito ======*/
.cart__prices {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}
/*====== Color de la cantidad y total de los productos que contiene el carrito ======*/
.cart__prices-item,
.cart__prices-total {
  color: var(--title-color);
}
/*====== Tamaño de la tipografia de la cantidad total de los productos del carrito ======*/
.cart__prices-item {
  font-size: var(--small-font-size);
}
/*====== Tamaño de la tipografia del precio total de los productos del carrito ======*/
.cart__prices-total {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
}








/*=============== BUTTONS ===============*/
/*====== Caracteristicas de los botones ======*/
.button {
  display: inline-block;
  background-color: var(--button-color);
  color: #fff;
  padding: 1.25rem 2rem;
  border-radius: 15px;
  font-weight: var(--font-medium);
  transition: 0.3s;
}
/*====== Efecto al pasar el mouse sobre el boton ======*/
.button:hover {
  background-color: var(--first-color);
  color: var(--body-color);
}
/*====== Cambio color trasparente boton discover ======*/
.button--transparent {
  background-color: transparent;
  color: var(--title-color);
  border-radius: 5px 0 0 5px;
}
/*====== padding botones discover y add to cart ======*/
.button--small {
  padding: 1rem 1.5rem;
}



/*=============== FOOTER ===============*/
/*====== Color seccion footer ======*/
.footer {
  background-color: var(--card-color);
}
/*====== Organizar contenedor footer section ======*/
.footer__container {
  row-gap: 2rem;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 15px;
}
/*====== Tamaño y margen titulo footer ======*/
.footer__title {
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-1-5);
}
/*====== Organiza elementos dentro contenedores list y links ======*/
.footer__list,
.footer__links {
  display: flex;
  flex-direction: column;
  row-gap: 0.75rem;
}
/*====== Color tipografia ancors link ======*/
.footer__link {
  color: var(--text-color);
}
/*====== Cambio color tipografia al pasar mouse ancors link ======*/
.footer__link:hover {
  color: var(--title-color); /* para cambiar el color*/
}
/*====== Organizar iconos social =====*/
.footer__social {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
/*====== Color y tamaño iconos social ======*/
.footer__social-link {
  font-size: 1.25rem;
  color: var(--text-color);
}
/*====== Cambio color tipografia al pasar mouse iconos social ======*/
.footer__social-link:hover {
  color: var(--title-color);
}
.footer__copy {
  display: block;
  margin: 3.5rem 0 1rem 0;
  text-align: center;
  font-size: var(--smaller-font-size);
  color: var(--text-color);
}